<div class="sign-up">
  <div class="sign-up-header">
    <h1>Company Sign In</h1>
    <p>Welcome back! Sign in to start hiring and managing your employees.</p>
  </div>
  <form [formGroup]="form" (submit)="submit()">
    <div class="input-container">
      <label class="input-label" for="email">Email:</label>
      <div class="input-element">
        <div class="left-icon">
          <img
            src="assets/email.svg"
            alt="presentation">
        </div>
        <input formControlName="email" type="email" id="email" name="email" required>
      </div>
    </div>
    <div class="input-error">
      <img
        src="assets/alert.svg"
        alt="warning">
      <span>Please enter a email</span>
    </div>
    <div class="input-container">
      <label class="input-label" for="password">Password:</label>
      <div class="input-element">
        <div class="left-icon">
          <img src="assets/password.svg"
            alt="presentation">
        </div>
        <input formControlName="password"  id="password" name="password" required>
        <div class="input-eye">
          <i class="fa fa-eye" (click)="togglePasswordVisibility()"></i>
          <i class="fa fa-eye-slash" (click)="togglePasswordVisibility()"></i>
        </div>
      </div>
    </div>
    <button type="submit">Sign in</button>
    <div class="bottom">
      <a href="/home">Come to main</a>
      <hr>
      <span>Haven't registered yet?<a href="/register">Register</a></span>
    </div>
  </form>
</div>